* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;
}

body {
  color: rgb(197, 197, 197);
  background: #000 url('./assets/background.jpg') no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialised !important;
}

body, input, button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input {
  margin-bottom: 20px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 2px;
  height: 45px;
  padding: 0 15px;
  font-size: 16px;
}

.container {
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  background: white;
  max-width: 500px;
  color: rgb(34, 34, 34);
  margin-top: 10px;
  border-radius: 4px;
  padding: 30px;
  animation: form-animation 1s backwards;
  margin-bottom: 50px;
}

.content p {
  align-self: center;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #555;
}

.content form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  color: #444;
  font-weight: bold;
  margin-bottom: 8px;
}

.btn-red {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(189, 0, 0);
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.btn-red:hover {
  background-color: rgb(168, 0, 0);
}

.btn-red:active {
  background-color: rgb(189, 0, 0);
}

.logo {
  animation: logo-animation 1s backwards;
}

@keyframes form-animation {
  from {
    opacity: 0;
    transform: translate(-40%);
  }
  to {
    opacity: 1;
    transform: translate(0%);
  }
}

@keyframes logo-animation {
  from {
    opacity: 0;
    transform: translateY(-65%) scale(0.1);
  }
  to {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}